In [ ]:
"""
Utilizando média e medidas de dispersão, faça o seguinte para a base de nascidos vivos de SE em 2017:
Compare as idades das mães que fizeram cesárea e das mães que fizeram parto normal
Compare o peso da criança ao nascer das mães que fizeram cesárea e das mães que fizeram parto normal
Compare o peso da criança ao nascer para as diferentes categorias de consultas pré-natal
Compare quantidade de filhos vivos e mortos em relação ao tipo de gravidez (única, dupla, tripla ou mais)
Compare a quantidade total de gravidezes (filhos vivos + filhos mortos) em relação a escolaridade
"""

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [92]:
import pandas as pd

caminhoArquivo = '/content/drive/MyDrive/py/DNSE2017.csv'

# ler arquivo DBC dos nascidos vivos em 2017 em SE
sinasc = pd.read_csv(caminhoArquivo, dtype=str)

In [95]:
sinasc['PESO'] = pd.to_numeric(sinasc['PESO'])
sinasc['IDADEMAE'] = pd.to_numeric(sinasc['IDADEMAE'])
sinasc['IDADEPAI'] = pd.to_numeric(sinasc['IDADEPAI'])
sinasc['APGAR1'] = pd.to_numeric(sinasc['APGAR1'])
sinasc['APGAR5'] = pd.to_numeric(sinasc['APGAR5'])
sinasc['QTDFILVIVO'] = pd.to_numeric(sinasc['QTDFILVIVO']).astype(pd.Int64Dtype())
sinasc['QTDFILMORT'] = pd.to_numeric(sinasc['QTDFILMORT']).astype(pd.Int64Dtype())
sinasc['SEMAGESTAC'] = pd.to_numeric(sinasc['SEMAGESTAC']).astype(pd.Int64Dtype())
sinasc['CONSPRENAT'] = pd.to_numeric(sinasc['CONSPRENAT']).astype(pd.Int64Dtype())
sinasc['SERIESCMAE'] = pd.to_numeric(sinasc['SERIESCMAE']).astype(pd.Int64Dtype())
sinasc['QTDPARTCES'] = pd.to_numeric(sinasc['QTDPARTCES']).astype(pd.Int64Dtype())
sinasc['QTDPARTNOR'] = pd.to_numeric(sinasc['QTDPARTNOR']).astype(pd.Int64Dtype())
sinasc['QTDGESTANT'] = pd.to_numeric(sinasc['QTDGESTANT']).astype(pd.Int64Dtype())

Compare as idades das mães que fizeram cesárea e das mães que fizeram parto normal

In [96]:
# filtro de mães que fizeram parto normal e cesares
normal = sinasc[sinasc.PARTO == '1']
cesarea = sinasc[sinasc.PARTO == '2']

In [28]:
#Média
mediaNormal = normal.IDADEMAE.mean()
mediaCesarea = cesarea.IDADEMAE.mean()
mediaNormal, mediaCesarea

(24.98357030015798, 27.634743425919698)

In [29]:
#Desvio Padrão
dp_normal = normal.IDADEMAE.std()
dp_cesarea = cesarea.IDADEMAE.std()
dp_normal, dp_cesarea

(6.7131238327425935, 6.732200555321305)

In [30]:
# Intervalo inter-quartil
q_normal = normal.IDADEMAE.quantile([0.25, 0.75]).values
q_cesarea = cesarea.IDADEMAE.quantile([0.25, 0.75]).values
q_normal[1]-q_normal[0], q_cesarea[1]-q_cesarea[0]

(10.0, 11.0)

In [31]:
# coeficiente de variacao
dp_normal*100/mediaNormal, dp_cesarea*100/mediaCesarea

(26.870154073615907, 24.361364430135843)

In [32]:
intervalos = pd.cut(sinasc.IDADEMAE,[0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59])
faixa_etaria = sinasc.IDADEMAE.groupby(intervalos)

freq_rel = lambda x: x.count()*100/sinasc.IDADEMAE.count()

dist_faixa_etaria = faixa_etaria.agg(['count',freq_rel])
dist_faixa_etaria

          count  <lambda_0>
IDADEMAE
(0, 9]        0         NaN
(9, 14]     331    0.977353
(14, 19]   6325   18.675997
(19, 24]   8609   25.420025
(24, 29]   7542   22.269466
(29, 34]   6491   19.166150
(34, 39]   3613   10.668202
(39, 44]    904    2.669265
(44, 49]     50    0.147636
(49, 54]      2    0.005905
(54, 59]      0         NaN

Compare o peso da criança ao nascer das mães que fizeram cesárea e das mães que fizeram parto normal

In [33]:
normal.PESO.mean(), cesarea.PESO.mean()

(3192.6047932578354, 3262.2962539511736)

In [34]:
normal.PESO.std(), cesarea.PESO.std()

(555.2919465469533, 598.5973542998237)

In [35]:
q_normal = normal.PESO.quantile([0.25, 0.75]).values
q_cesarea = cesarea.PESO.quantile([0.25, 0.75]).values
q_normal[1]-q_normal[0], q_cesarea[1]-q_cesarea[0]

(610.0, 678.0)

In [36]:
# coeficiente de variacao
normal.PESO.std()*100/normal.PESO.mean(), cesarea.PESO.std()*100/cesarea.PESO.mean()

(17.393068748115102, 18.348957534890477)

Compare o peso da criança ao nascer para as diferentes categorias de consultas pré-natal

In [37]:
pre_natal_0 = sinasc[sinasc.CONSULTAS == '1']
pre_natal_1_3 = sinasc[sinasc.CONSULTAS == '2']
pre_natal_4_6 = sinasc[sinasc.CONSULTAS == '3']
pre_natal_7 = sinasc[sinasc.CONSULTAS == '4']

In [38]:
pre_natal_0.PESO.mean(), pre_natal_1_3.PESO.mean(), pre_natal_4_6.PESO.mean(), pre_natal_7.PESO.mean()

(3085.7057142857143, 3022.836124401914, 3166.4481224417154, 3295.601250066211)

In [39]:
pre_natal_0.PESO.std(), pre_natal_1_3.PESO.std(), pre_natal_4_6.PESO.std(), pre_natal_7.PESO.std()

(676.3215285616058, 765.4774563785681, 600.6850101167469, 500.74534594318817)

In [40]:
q_pre_natal_0 = pre_natal_0.PESO.quantile([0.25, 0.75]).values
q_pre_natal_1_3 = pre_natal_1_3.PESO.quantile([0.25, 0.75]).values
q_pre_natal_4_6 = pre_natal_4_6.PESO.quantile([0.25, 0.75]).values
q_pre_natal_7 = pre_natal_7.PESO.quantile([0.25, 0.75]).values

q_pre_natal_0[1]-q_pre_natal_0[0], q_pre_natal_1_3[1]-q_pre_natal_1_3[0],  q_pre_natal_4_6[1]-q_pre_natal_4_6[0],  q_pre_natal_7[1]-q_pre_natal_7[0]

(718.0, 737.0, 670.0, 610.0)

In [41]:
# coeficiente de variacao
pre_natal_0.PESO.std()*100/pre_natal_0.PESO.mean(), pre_natal_1_3.PESO.std()*100/pre_natal_1_3.PESO.mean(), pre_natal_4_6.PESO.std()*100/pre_natal_4_6.PESO.mean(), pre_natal_7.PESO.std()*100/pre_natal_7.PESO.mean()

(21.917888197519254, 25.323154311913697, 18.970309535769243, 15.19435477617712)

Compare quantidade de filhos vivos e mortos em relação ao tipo de gravidez (única, dupla, tripla ou mais)

In [42]:
unica = sinasc[sinasc.GRAVIDEZ == '1']
dupla = sinasc[sinasc.GRAVIDEZ == '2']
multipla = sinasc[sinasc.GRAVIDEZ == '3']

In [43]:
#Média
mediaUnica = unica.IDADEMAE.mean()
mediaDupla = dupla.IDADEMAE.mean()
mediaMultipla = multipla.IDADEMAE.mean()
mediaUnica, mediaDupla, mediaMultipla

(26.104246987951807, 28.27371695178849, 30.38888888888889)

In [44]:
#Desvio Padrão
dp_Unica = unica.IDADEMAE.std()
dp_Dupla = dupla.IDADEMAE.std()
dp_Multipla = multipla.IDADEMAE.std()
dp_Unica, dp_Dupla, dp_Multipla

(6.841768008846308, 6.759304861179386, 9.73857634775462)

In [45]:
# Intervalo inter-quartil
q_unica = unica.IDADEMAE.quantile([0.25, 0.75]).values
q_dupla = dupla.IDADEMAE.quantile([0.25, 0.75]).values
q_multipla = multipla.IDADEMAE.quantile([0.25, 0.75]).values
q_unica[1]-q_unica[0], q_dupla[1]-q_dupla[0], q_multipla[1]-q_multipla[0]

(11.0, 10.0, 16.0)

In [46]:
# coeficiente de variacao
dp_Unica*100/mediaUnica, dp_Dupla*100/mediaDupla, dp_Multipla*100/mediaMultipla

(26.20940574154109, 23.90667230879178, 32.04650352094756)

In [97]:
intervalosUnica = pd.cut(unica.IDADEMAE,[0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59])
intervalosDupla = pd.cut(dupla.IDADEMAE,[0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59])
intervalosMultipla = pd.cut(multipla.IDADEMAE,[0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59])

faixa_etaria_unica = unica.IDADEMAE.groupby(intervalosUnica)
faixa_etaria_dupla = dupla.IDADEMAE.groupby(intervalosDupla)
faixa_etaria_multipla = multipla.IDADEMAE.groupby(intervalosMultipla)

freq_rel_unica = lambda x: x.count()*100/unica.IDADEMAE.count()
dist_faixa_etaria_unica = faixa_etaria_unica.agg(['count',freq_rel_unica])

freq_rel_dupla = lambda x: x.count()*100/dupla.IDADEMAE.count()
dist_faixa_etaria_dupla = faixa_etaria_dupla.agg(['count',freq_rel_dupla])

freq_rel_multipla = lambda x: x.count()*100/multipla.IDADEMAE.count()
dist_faixa_etaria_multipla = faixa_etaria_multipla.agg(['count',freq_rel_multipla])

dist_faixa_etaria_unica = pd.DataFrame(dist_faixa_etaria_unica)
dist_faixa_etaria_dupla = pd.DataFrame(dist_faixa_etaria_dupla)
dist_faixa_etaria_multipla = pd.DataFrame(dist_faixa_etaria_multipla)

faixas = pd.DataFrame([])

faixas['Unica'] = dist_faixa_etaria_unica['count']
faixas['Dupla'] = dist_faixa_etaria_dupla['count']
faixas['Multipla'] = dist_faixa_etaria_multipla['count']


faixas

          Unica  Dupla  Multipla
IDADEMAE
(0, 9]        0      0         0
(9, 14]     329      2         0
(14, 19]   6248     73         3
(19, 24]   8474    133         2
(24, 29]   7388    149         3
(29, 34]   6332    154         3
(34, 39]   3507    103         3
(39, 44]    872     27         4
(44, 49]     48      2         0
(49, 54]      2      0         0
(54, 59]      0      0         0

Compare a quantidade total de gravidezes (filhos vivos + filhos mortos) em relação a escolaridade

In [48]:
#1: Nenhuma; 2: 1 a 3 anos; 3: 4 a 7 anos; 4: 8 a 11 anos; 5: 12 e mais
primeira = sinasc[sinasc.ESCMAE == '1']
segunda = sinasc[sinasc.ESCMAE == '2']
terceira = sinasc[sinasc.ESCMAE == '3']
quarta = sinasc[sinasc.ESCMAE == '4']
quinta = sinasc[sinasc.ESCMAE == '5']


primeira = pd.DataFrame(primeira)
segunda = pd.DataFrame(segunda)
terceira = pd.DataFrame(terceira)
quarta = pd.DataFrame(quarta)
quinta = pd.DataFrame(quinta)

primeiraSum = primeira.QTDFILVIVO.sum() + primeira.QTDFILMORT.sum()
segundaSum = segunda.QTDFILVIVO.sum() + segunda.QTDFILMORT.sum()
terceiraSum = terceira.QTDFILVIVO.sum() + terceira.QTDFILMORT.sum()
quartaSum = quarta.QTDFILVIVO.sum() + quarta.QTDFILMORT.sum()
quintaSum = quinta.QTDFILVIVO.sum() + quinta.QTDFILMORT.sum()

primeiraSum, segundaSum, terceiraSum, quartaSum, quintaSum

(1028, 5112, 14806, 17814, 3440)

In [69]:
#Média
mediaPrimeiraVivo = primeira.QTDFILVIVO.mean()
mediaSegundaVivo = segunda.QTDFILVIVO.mean()
mediaTerceiraVivo = terceira.QTDFILVIVO.mean()
mediaQuartaVivo = quarta.QTDFILVIVO.mean()
mediaQuintaVivo = quinta.QTDFILVIVO.mean()

mediaPrimeiraVivo, mediaSegundaVivo, mediaTerceiraVivo, mediaQuartaVivo, mediaQuintaVivo

(4.482587064676617,
 2.977627118644068,
 1.5552601595138624,
 0.8738128403191086,
 0.49358151476251605)

In [70]:
#Média
mediaPrimeiraMorto = primeira.QTDFILMORT.mean()
mediaSegundaMorto = segunda.QTDFILMORT.mean()
mediaTerceiraMorto = terceira.QTDFILMORT.mean()
mediaQuartaMorto = quarta.QTDFILMORT.mean()
mediaQuintaMorto = quinta.QTDFILMORT.mean()

mediaPrimeiraMorto, mediaSegundaMorto, mediaTerceiraMorto, mediaQuartaMorto, mediaQuintaMorto

(0.7839506172839507,
 0.5970149253731343,
 0.3706807822379062,
 0.2731976308802505,
 0.24846491228070175)

In [71]:
#Desvio Padrão
dpPrimeiraVivo = primeira.QTDFILVIVO.std()
dpSegundaVivo = segunda.QTDFILVIVO.std()
dpTerceiraVivo = terceira.QTDFILVIVO.std()
dpQuartaVivo = quarta.QTDFILVIVO.std()
dpQuintaVivo = quinta.QTDFILVIVO.std()

dpPrimeiraVivo, dpSegundaVivo, dpTerceiraVivo, dpQuartaVivo, dpQuintaVivo

(2.7912264819666355,
 2.2775915197591368,
 1.5570776718642871,
 1.0589987909482166,
 0.7326431494753205)

In [62]:
#Desvio Padrão
dpPrimeiraMorto = primeira.QTDFILMORT.std()
dpSegundaMorto = segunda.QTDFILMORT.std()
dpTerceiraMorto = terceira.QTDFILMORT.std()
dpQuartaMorto = quarta.QTDFILMORT.std()
dpQuintaMorto = quinta.QTDFILMORT.std()

dpPrimeiraMorto, dpSegundaMorto, dpTerceiraMorto,dpQuartaMorto,dpQuintaMorto

(1.1185568330892035,
 0.889845552234201,
 0.7071602019155704,
 0.5901018330981184,
 0.5967465448390596)

In [80]:
# Intervalo inter-quartil
qPrimeira = primeira.QTDFILVIVO.quantile([0.25, 0.75]).values
qSegunda = segunda.QTDFILVIVO.quantile([0.25, 0.75]).values
qTerceira = terceira.QTDFILVIVO.quantile([0.25, 0.75]).values
qQuarta = quarta.QTDFILVIVO.quantile([0.25, 0.75]).values
qQuinta = quinta.QTDFILVIVO.quantile([0.25, 0.75]).values

qPrimeira[1]-qPrimeira[0], qSegunda[1]-qSegunda[0], qTerceira[1]-qTerceira[0], qQuarta[1]-qQuarta[0], qQuinta[1]-qQuinta[0]

(5.0, 3.0, 2.0, 1.0, 1.0)

In [81]:
# Intervalo inter-quartil
qPrimeira = primeira.QTDFILMORT.quantile([0.25, 0.75]).values
qSegunda = segunda.QTDFILMORT.quantile([0.25, 0.75]).values
qTerceira = terceira.QTDFILMORT.quantile([0.25, 0.75]).values
qQuarta = quarta.QTDFILMORT.quantile([0.25, 0.75]).values
qQuinta = quinta.QTDFILMORT.quantile([0.25, 0.75]).values

qPrimeira[1]-qPrimeira[0], qSegunda[1]-qSegunda[0], qTerceira[1]-qTerceira[0], qQuarta[1]-qQuarta[0], qQuinta[1]-qQuinta[0]

(1.0, 1.0, 1.0, 0.0, 0.0)

In [78]:
# coeficiente de variacao
dpPrimeiraVivo*100/mediaPrimeiraVivo, dpSegundaVivo*100/mediaSegundaVivo, dpTerceiraVivo*100/mediaTerceiraVivo, dpQuartaVivo*100/mediaQuartaVivo, dpQuintaVivo*100/mediaQuintaVivo

(62.26820453665857,
 76.49015235985262,
 100.11686227151816,
 121.19286214213558,
 148.43407371684648)

In [79]:
# coeficiente de variacao
dpPrimeiraMorto*100/mediaPrimeiraMorto, dpSegundaMorto*100/mediaSegundaMorto, dpTerceiraMorto*100/mediaTerceiraMorto, dpQuartaMorto*100/mediaQuartaMorto, dpQuintaMorto*100/mediaQuintaMorto

(142.68205272476453,
 149.04912999922868,
 190.77336506258604,
 215.99815166654028,
 240.1733666783859)