In [ ]:
"""
5.7. Exercício - Medidas de posição

Faça o download dos dados de nascidos vivos em 2017 de Sergipe e responda às seguintes perguntas:

    Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
    Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
    Qual o apgar de 1 min que mais aparece (moda)?
    Qual o apgar de 5 minutos que mais aparece?
    Qual o peso da criança tal que 10% dos pesos são menores (P10)?
    Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
    Qual a quantidade de filhos mortos que mais aparece?
    Qual a média de idade de mães solteiras?
    Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
    Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?


Utilize como referência os campos este arquivo: https://drive.google.com/open?id=1N5exAY_Uk-uyCpzYFocIVn9MO3v-HqWrt

Lembre-se de:

    Carregar os dados em um dataframe
    Transformar os dados necessários
"""

In [87]:
#/content/drive/MyDrive/py/DNSE2017.csv

#le csv
import pandas as pd

caminhoArquivo = '/content/drive/MyDrive/py/DNSE2017.csv'

sinasc = pd.read_csv(caminhoArquivo, dtype=str)
sinasc.head()

  contador ORIGEM CODESTAB CODMUNNASC  ... CODPAISRES TPROBSON PARIDADE KOTELCHUCK
0        1      1  2415631     230440  ...        NaN       05        1          9
1        2      1  2005050     270030  ...        NaN       03        1          3
2        3      1  2005050     270030  ...        NaN       11        0          5
3        4      1  2005026     270030  ...        NaN       05        1          2
4        5      1  2722429     270400  ...        NaN       03        1          2

[5 rows x 61 columns]

In [88]:
"""
Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?
"""
#medias colunas
sinasc.QTDFILVIVO = pd.to_numeric(sinasc.QTDFILVIVO).astype(pd.Int64Dtype())
sinasc.QTDFILMORT = pd.to_numeric(sinasc.QTDFILMORT).astype(pd.Int64Dtype())
sinasc.PESO = pd.to_numeric(sinasc.PESO)
sinasc.IDADEMAE = pd.to_numeric(sinasc.IDADEMAE)
sinasc.APGAR1  = pd.to_numeric(sinasc.APGAR1)
sinasc.APGAR5 = pd.to_numeric(sinasc.APGAR5)

camposMedia = sinasc[['IDADEMAE','PESO', 'APGAR1', 'APGAR5', 'QTDFILVIVO', 'QTDFILMORT']]
camposMedia.mean()

IDADEMAE        26.148079
PESO          3223.196332
APGAR1           8.443829
APGAR5           9.526913
QTDFILVIVO       1.123062
QTDFILMORT       0.310486
dtype: float64

In [89]:
"""
Qual a idade tal que metade das idades das mães são menores que ela (mediana)?
"""

medianaIdadeMae = camposMedia['IDADEMAE'].median()
medianaIdadeMae

26.0

In [90]:
"""
Qual o apgar de 1 min que mais aparece (moda)?
"""

modaApgar1 = camposMedia['APGAR1'].mode()
modaApgar1

0    9.0
dtype: float64

In [91]:
"""
Qual o apgar de 5 minutos que mais aparece?
"""

modaApgar5 = camposMedia['APGAR5'].mode()
modaApgar5

0    10.0
dtype: float64

In [92]:
"""
Qual o peso da criança tal que 10% dos pesos são menores (P10)?
Qual o peso da criança tal que 75% dos pesos são menores (Q3)?
"""    

quantisPesoCriancas = camposMedia['PESO'].quantile([0.1, 0.75])
quantisPesoCriancas

0.10    2570.0
0.75    3575.0
Name: PESO, dtype: float64

In [93]:
"""
Qual a quantidade de filhos mortos que mais aparece?
"""

modaFilhosMortos = camposMedia['QTDFILMORT'].mode()
modaFilhosMortos

0    0
dtype: Int64

In [96]:
"""
Qual a média de idade de mães solteiras?
"""

mediaIdadeMaesSolteiras = sinasc[(sinasc['ESTCIVMAE']=='1')]['IDADEMAE'].mean()
mediaIdadeMaesSolteiras

24.929703822047436

In [97]:
"""
Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade 
tal que 25% dessa quantidade são menores (Q1)?
"""

sinasc[(sinasc.ESCMAE == '1')|(sinasc.ESCMAE == '2')]['QTDFILVIVO'].quantile([0.25])

0.25    1
Name: QTDFILVIVO, dtype: object

In [98]:
"""
Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?
"""

sinasc[(sinasc.IDANOMAL == '1')]['IDADEMAE'].mode()

0    21
dtype: int64